<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.friends.itour.dao.GoodsTypeMapper">
    <resultMap id="BaseResultMap" type="com.friends.itour.model.GoodsTypeEntity">
        <id column="goods_type_id" jdbcType="INTEGER" property="goodsTypeId"/>
        <result column="goods_type_code" jdbcType="INTEGER" property="goodsTypeCode"/>
        <result column="goods_type_name" jdbcType="VARCHAR" property="goodsTypeName"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="node_type" jdbcType="VARCHAR" property="nodeType"/>
        <result column="sort_type" jdbcType="VARCHAR" property="sortType"/>
    </resultMap>

    <!--<sql id="Base_Column_List">-->
    <!--id,username,password-->
    <!--</sql>-->

    <!--<select id="selectByNameAndPassWord" parameterType="java.lang.String" resultMap="BaseResultMap">-->
    <!--select-->
    <!--<include refid="Base_Column_List"/>-->
    <!--from user-->
    <!--where username = #{userName,jdbcType=VARCHAR}-->
    <!--</select>-->
    <select id="selectGoodsTypeEntity" resultMap="BaseResultMap">
        select
        *
        from SYS_GOODS_TYPE
        <!--<where>
            <if test="userCode !=null">
                user_code= #{userCode,jdbcType=INTEGER}
            </if>
            <if test="userMobile !=null">
                AND user_mobile= #{userMobile,jdbcType=INTEGER}
            </if>
            <if test="userPassword !=null">
                AND user_password= #{userPassword,jdbcType=VARCHAR}
            </if>
        </where>-->
    </select>
    <!-- 增加用户 -->
    <!--<insert id="addUser" parameterType="java.lang.String">-->
    <!--insert into SYS_USER (user_id,user_code,user_name,user_nick_name,-->
    <!--user_birthday,user_sex,user_idcard,user_mobile,user_email,user_qq-->
    <!--,user_wechat,user_origin,user_address,encrypted_user_password-->
    <!--,user_creation_date,user_created_by,user_last_update_date,user_last_updated_by-->
    <!--,user_type,user_status)-->
    <!--values (#{username},#{birthday},#{sex},#{address})-->
    <!--</insert>-->

</mapper>